body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* start: global style rules */

h1, h2, h3, h4, h5 {
    line-height: 1.5;
    font-weight: 300;
    margin: 0.5em 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;    
}

h3 {
    font-size: 1.6em;
}

h4 { 
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

p, label, strong {
    line-height: 2;
    font-size: 0.85em;
    font-weight: 300;
}

.flex {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}

/* end: global style rules */

/* start: header styles */

header {
    
}


footer {
    display: flex;
    justify-content: right;
    padding: 5px;
    background-color: #703D30;
    color: beige;
}

